.container
  .row
    .col-md-6.col-md-offset-3
      %h2.text-center Notifications
      - if @notifications.where(read: 'false').count > 0
        = button_to "Mark all as read", notifications_read_all_path, class: 'center-block btn btn-success'
      %ul.notification-index-list
        = render @notifications